################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/MIWFit/WS.MIWFit/.vs
MIWFit/WS.MIWFit/WS.MIWFit.Data/obj
MIWFit/WS.MIWFit/WS.MIWFit.Data/bin
WS.MIWFit.CalculadoraIMC/.idea
WS.MIWFit.CalculadoraIMC/.mvn
MIWFit/WS.MIWFit/WS.MIWFit.Application/obj
